/* src/components/MovieCard.css */

.movie-card {
  max-width: 200px;
  width: 45%;
  background-color: #1a1a1a;
  color: white;
  border-radius: 10px;
  /* overflow: hidden;  */
  margin: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-link {
  border-radius: 10px;
  overflow: hidden;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.movie-card img {
  width: 100%;
  height: 300px; /* Sab poster ek height ke honge */
  object-fit: cover; /* Image ko stretch nahi karega, cover karega */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-info {
  padding: 1rem;
  color: aliceblue;
}

.movie-info h3 {
  font-size: 1.1rem;
  margin: 0;
  /* Agar title lamba hai to use cut kar dega */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .movie-card {
    margin: 0.1rem;
    margin-top: 1rem;
  }
  .movie-card img {
    height: auto;
  }
}